<p>Hallo <%= @user.name %>,</p>
<p>
  Mit diesem Link kannst du dich bei deinem Buch <strong>„<%= @book.title %>“</strong> einloggen:<br />
  <%= @url %>
</p>
<p>Schöne Grüße,<br/><a href="http://ichmagrot.de">ichmagrot.de</a></p>
