<p>Hallo <%= @user.email %>,</p>
<p>
  Ich würde mich sehr freuen, wenn du in mein Buch <strong>„<%= @book.title %>“</strong> schreiben würdest.
</p>
<p>
  Klicke einfach auf diesen Link:<br />
  <%= @url %>
</p>
<p>Schöne Grüße,<br/>
<%= @owner.name %></p>
